.AppHeader {
  background: #6d294a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 #aeb1b4;
  padding: 0 1.5rem;
  height: 56px;
  color: #fff;
}

.AppHeader__title {
  flex: 1;
  line-height: 1;
  text-align: center;
}

.AppHeader__title__subtitle {
  color: #d04990;
}

.AppHeader__version {
  flex: 1;
  font-size: 14px;
  text-align: right;
}

.AppHeader__examples {
  flex: 1;
}

.AppHeader__examples__select {
  margin-left: 1em;
}
