node_modules
.tmp
.DS_Store
*.log*
.idea
coverage
test-results.xml
**/docs/api
dist
.awcache
packages/muster/CHANGELOG.md
packages/website/docs/CHANGELOG.md
packages/website/docs/glossary.md
.vscode
packages/muster-playground/type-definition/types.json
jest.config.json
packages/*/esm
packages/*/_bundles
packages/*/build
packages/*/static/api
packages/*/static/playground
packages/*/static/js/*.min.js
packages/*/static/*.zip
yarn.lock
